body {
  background-color: #00c2e1;
  height: 700px;
}

.divider-text {
  position: relative;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

.divider-text span {
  padding: 7px;
  font-size: 12px;
  position: relative;
  z-index: 2;
}

.divider-text:after {
  content: "";
  position: absolute;
  width: 100%;
  border-bottom: 1px solid #ddd;
  top: 55%;
  left: 0;
  z-index: 1;
}

.alert {
  padding: 20px;
  background-color: #f44336; /* Red */
  color: white;
  margin-bottom: 15px;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.card-body {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-title {
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.input-group-text {
  width: 45px;
  text-align: center;
}

.btn-block {
  width: 100%;
}

.text-center {
  text-align: center;
}
